<% layout("/layouts/boilerplate.ejs") -%>
    <div class="navbar1" >
        <span>
            <h2>Edit your post</h2>
            <p>Post id: <%= post.id %></p>
        </span>
        <span>
            <img src="https://api.dicebear.com/avatar.svg" />
            <%= post.username %>
        </span>
    </div>
        
    <div class="post">
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
            <textarea class="txt-ar" name="content"><%= post.content %></textarea>
            <br>
            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
