<% layout("/layouts/boilerplate") -%>

<div class="post">


    <form method="post" action="/posts">
        <input class="txt-in" placeholder="enter username" name="username" > <br> <br>
        <textarea class="txt-ar" placeholder="write your post " name="content"></textarea> <br>
        <button class="btn btn-dark">Submit post</button>
    </form>

</div>
