<% layout("/layouts/boilerplate") -%>

    <div class="navbar1" >
        <span>
            <h2>Here is your post in detail</h2>
            <p>Post id : <%= post.id %> </p>
        </span>
        <span>
            <img src="https://api.dicebear.com/avatar.svg" />
            <%= post.username %>
        </span>
    </div>
        
    <div class="post">
        <h4><%= post.content %></h4>
    </div>
